body {
    font-family: 'Roboto', sans-serif;
    font-weight: regulal;
    size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

/* Header */
.studio {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
}